fastapi[standard]>=0.112.0
uvicorn>=0.30.5
sqlalchemy>=2.0.32
psycopg2-binary>=2.9.9
pydantic>=2.8.2
pydantic-settings>=2.4.0
passlib[bcrypt]>=1.7.4
python-jose[cryptography]>=3.3.0
python-multipart>=0.0.9
fastapi-mail>=1.4.1
